<h2>Lista de Empleados</h2>

<table class="employees-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Fecha de Ingreso</th>
      <th>Fecha de Retiro</th>
      <th>Tipo de Contrato</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.nmIdEmployee }}</td>
      <td>{{ employee.dsName }}</td>
      <td>{{ employee.dsLastName }}</td>
      <td>{{ employee.dsTelephone }}</td>
      <td>{{ employee.dsAddress }}</td>
      <td>{{ employee.feDateEntry }}</td>
      <td>{{ employee.feDateDeparture }}</td>
      <td>{{ employee.dsTypeOfContract }}</td>
      <td>{{ employee.dsEmployeeStatus }}</td>
      <td>
       <button (click)="editEmployee(employee)" class="edit-button">Editar</button>
      </td>
    </tr>
  </tbody>
</table>
